body {
	font-family: 'Varela Round', sans-serif;
}
p {
	font-size:13px;
}
.mainContent{
	margin-left: 100px;
	margin-top: 100px;
	width: 720px;
}

.mainBody{

}

.sectionTitle{
}

a{
	color:black;
}
a:hover{
	color:#545454;
}
a:active{
	color:#939393;
}
#titleLink{
	text-decoration:none;
	color:black;
}