body {
	font-family: 'Varela Round', sans-serif;
}
.mainContent{
	margin-left: 100px;
	margin-top: 100px;
	width: 720px;
}

.mainBody{
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
}

.sectionTitle{
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;	
}

a{
	color:black;
}
a:hover{
	color:#545454;
}
a:active{
	color:#939393;
}
#titleLink{
	text-decoration:none;
	color:black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
